@import url(./_link/popup-add__content_link.css);
@import url(./_name/popup-add__content_name.css);

.popup-add__content {
  width: 358px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 510px) {
  .popup-add__content {
    width: 200px;
  }
}
