@import url(./__container/popupAdd__container.css);
@import url(./__close-button/popupAdd__close-button.css);
@import url(./__content/popupAdd__content.css);
@import url(./__save-button/popupAdd__save-button.css);
@import url(./__title/popupAdd__title.css);


.popupAdd {
    /*здесь задается затемненный фон попапа*/
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s linear;
    pointer-events: none;
}


