.header__line {
    border: 1px solid #545454; 
    max-width: 882px;
    min-width: 320px;
    opacity: 0.2;
    margin-top: 40.6px;
}

@media (max-width: 320px) {
    .header__line {
        margin-top: 31.6px;
    }
}