.elements__like_active {
    background-image: url(./../../../../images/like_active.svg);
    background-repeat: no-repeat;
    width: 20.76px;
    height: 18.13px;
    margin: 0;
    padding: 0;
    align-self: center;
    outline: none;
    border: none;
    background-color: white;
    transition: opacity ease-in 0.2s;
}

.elements__like_active:hover {
    opacity: 0.6;
    cursor: pointer;
 }